/* reseeat code & common code start here*/
*{box-sizing: border-box;
/*font family : 'italianno',cursive;  */
 font-family:"Roboto", sans-serif ;
  

}
body{
    margin:0;
}
h1{ 
    text-align: center;

}
a{color: rgba(0, 0, 0, 0.767);
    font-size: 1.2rem;
    text-decoration: dotted;
}
.navbar{background-color: #0c6168;
    padding: 1% 8%;text-align: center;}

.nav-logo{width: 50px;
    height: 60;
}




.nav-logo{text-align: left;
    width: 40px;

}


